{{#partial "content"}}

    <div class="text-center">
        <div class="jumbotron bg-transparent text-white home-intro py-2">
            <h2 class="display-3">Wildlife-Tracker</h2>
            <h1>About</h1>
           <p>The quicker we humans learn that saving open space and wildlife is critical to our welfare and quality of life, maybe we'll start thinking of doing something about it.
           </p>
            <br>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}